In [4]:
# !pip install plotly
# !pip install geopandas

In [5]:
import geopandas as gpd

import numpy as np
import pandas as pd
import plotly.express as px
import json
#import ogr

In [6]:
with open('Community.geojson', encoding='UTF-8') as f:
  dxb_communities_GJson = json.load(f)
# dxb_communities_GJson

In [7]:
dxb_communities_GJson["features"][0].keys()
dxb_communities=pd.read_csv("Community_HiLevelVenues_Clusters.csv")

In [8]:
dxb_communities_GJson["features"][0]['properties']

{'Name': 'kml_2',
 'description': None,
 'CNAME_E': "AL BADA'",
 'CNAME_A': 'البدع',
 'OBJECTID': '148',
 'LABEL_E': "AL BADA'",
 'LABEL_A': 'البدع',
 'C_PREFIX_E': 'Community:',
 'C_PREFIX_A': '',
 'COMMUNITY_': "AL BADA' - 333",
 'COMMUNITY1': 'البدع - 333',
 'DGIS_ID': '0000065',
 'COMM_NUM': '333',
 'NDGIS_ID': '65',
 'SHAPE_AREA': '1984700.5385',
 'SHAPE_LEN': '7946.07017526'}

In [9]:
dxb_communities.head()

,Unnamed: 0,CNAME_E,COMM_NUM,SHAPE_AREA,SHAPE_LEN,lat,lon,Arts & Entertainment,College & University,Event,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Residence,Shop & Service,Travel & Transport,Cluster
0,0,AL BADA',333,1.984701e+06,7946.070175,25.225314,55.268768,52,19,4,248,100,113,160,34,168,84,0
1,1,CORNICHE DEIRA,121,8.707842e+05,5165.842443,25.287165,55.317958,22,8,4,103,30,65,76,14,76,109,2
2,2,AL KHWANEEJ SECOND,282,1.269407e+07,14582.351508,25.230697,55.521222,0,10,0,9,0,7,5,1,5,5,1
3,3,AL SAFA FIRST,353,2.430429e+06,6705.662879,25.175690,55.238309,5,14,6,158,38,75,101,19,64,41,3
4,4,NAZWAH,736,1.305883e+07,15567.139691,25.024015,55.646574,0,0,0,3,0,6,1,0,4,0,1

In [14]:
## PLEASE REMOVE THE COMMENT TO RUN THE CHOROPLETH

# max_value = dxb_communities['Cluster'].max()
# dxb_communities["Cluster"]=dxb_communities["Cluster"].astype(str)
# fig = px.choropleth_mapbox(dxb_communities, 
#                            geojson=dxb_communities_GJson, 
#                            locations='COMM_NUM',
#                            color=dxb_communities['Cluster'],
#                            color_discrete_sequence=px.colors.qualitative.Bold,
#                            #color_discrete_sequence=["red", "rgba(0,0,0,0.1)", "blue", "green"],# for specific colors to category
#                            category_orders={"Cluster": ["0", "1", "2", "3"]}, # for ordering the categories for legend
#                            range_color=(0, 6),
#                            featureidkey="properties.COMM_NUM",
#                            hover_name='CNAME_E',
#                            hover_data={'COMM_NUM': False, 'CNAME_E': False, 'Cluster': True},
#                            mapbox_style='open-street-map',
#                            zoom=9,
#                            center={'lat': 25, 'lon': 55},
#                            opacity=0.5,
#                            width = 300,
#                            height=200,
#                            title = "Clusters of Dubai Communities"
#                           )
# fig.update_geos(fitbounds="locations", visible=False)
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()